---
title: Home
slug: home
---

extends layout

block content
  div(class="container-outer block-full d-flex justify-content-center align-items-center")
    a(href="mailto:alejandrazuero@gmail.com" class="btn btn-main top-right") EMAIL
    div(class="container")
      div(class="row justify-content-center")
        div(class="col-md-10 text-center")
          div(class="p-4")
            h1(class="mt-0 mb-4") Alejandra Azuero-Quijano is an anthropologist, legal scholar, and writer.
            p
              a(href="#" data-target="#bio" class="js-scroll-to link-main") BIO
              a(href="#" data-target="#research" class="js-scroll-to link-main") RESEARCH
              a(href="#" data-target="#publication-and-writing" class="js-scroll-to link-main") WRITING
              a(href="https://drive.google.com/file/d/1ScokrQZw-upDx-bPQjE56hBIvpveVrHj/view?ts=5f80deaa" target="_blank" class="link-main") Alejandra's CV

  div(id="bio" class="container-outer bg-black pt-0")
    div(class="container")
      div(class="row")
        div(class="bg-image col-md-5 bg-profile")

        div(class="col-md-7 bg-white pl-0 border-left-green")
          div(class="p-5")
            div(class="text-center")
              h1(class="m-0") Bio
              div(class="divider divider-green-light mb-5 mt-2")
            p(class="mb-3") Alejandra Azuero-Quijano works at the intersection of law and anthropology. Her research examines the role of legal knowledge in political transition. Her first book manuscript, 
              em Redesigning Crime
              span , investigates the relation between design, criminal liability, and forensics. Her current book project, 
              em Forensics of Finance
              span , examines the role of financial forensic expertise in shaping Colombia’s most recent political transition. Azuero-Quijano holds an SJD from Harvard Law School and is a PhD Candidate in anthropology at the University of Chicago. Her academic writing is forthcoming in 
              em Grey Room
              span &nbsp;and 
              em PoLAR
              span . Her essays and poetry have appeared in 
              em AlJazeera
              span &nbsp;and 
              em New American Writing
              span , among others.

  div(id="research" class="bg-grey")

    div(class="container-outer")
      div(class="container")
        div(class="row")
          div(class="col-md-12")
            div(class="text-center")
              h1(class="m-0") Research
              div(class="divider divider-green mb-5 mt-2")

            div(class="row")
              div(class="col-md-7 bg-white border-right-green")
                div(class="p-5")
                  div(class="text-center")
                    h2(class="mt-0 mb-4") Forensics of Design
                  p(class="mb-0") 
                    em Redesigning Crime: Remaking Criminal Liability at Nuremberg
                    span ,is a legal history of Nuremberg as the first 
                    em global
                    span &nbsp;criminal trial. Against the commonly accepted notion that legal aesthetics are subordinated to legal expertise, the book manuscript shows how the practice of designers working for U.S. intelligence agencies shaped the legal project of international criminal justice. Furthermore, it demonstrates how this newly designed forum of global justice rested on a double aesthetic movement: visualizing the Nazi political system through films and charts, while carefully staging the presence of the individually accused inside the courtroom. Organized into four chapters, the study redefines how we understand the making of legal knowledge. It shows that forensics is a design and aesthetic practice that creates the subjects and objects of punishment under criminal law – in this case the representation of Nazi political organization as a criminal conspiracy.
              div(class="bg-image col-md-5 pl-0 bg-nuremberg-project")

      div(class="container-outer-compact pb-0")
        div(class="container")

          div(class="row")
            div(class="bg-image col-md-5 bg-current-project")

            div(class="col-md-7 bg-white border-left-green")
              div(class="p-5")
                div(class="text-center")
                  h2(class="mt-0 mb-4") Forensics of Finance
                p(class="mb-0") 
                  em Forensics of Finance: Colombia’s Experiments in Transitional Liberalism
                  span , is an ethnography that shows how the alignment of finance and forensic expertise shaped the project of political transition after the peace agreement between the state and Colombia’s Revolutionary Armed Forces (FARC), one of the oldest insurgent organizations in the world. It argues that the transformation of Colombia’s forensic knowledge production practices in preparation for the signing of the peace agreement recalibrated both the meaning of legal accountability and the project of political transition, thus creating new categories of criminality that then became the subject of criminal prosecution. Moreover, it demonstrates that this happened primarily through a mode of forensic knowledge centered on integrating financial risk analysis methodologies into the state’s prosecutorial apparatus. This experiment, in turn, led to a rise to prominence of finance as an object of forensic knowledge and source of criminal liability capable of exposing all types of social wrongs, from war crimes to corruption.

              
  div(id="publication-and-writing" class="bg-image bg-nuremberg-001")
    div(class="container-outer")
      div(class="container")
        div(class="row justify-content-center")
          div(class="col-md-8 pl-0")
            div(class="p-5 bg-black")
              
              div(class="text-center")
                h1(class="m-0") Writing
                div(class="divider divider-green-light mb-5 mt-2")
                
              p(class="mb-4 text-sm text-bold text-uppercase") Forthcoming 
              p(class="mb-4") “Making the ‘World Spectacle Trial’: Design as Forensic Practice at the Nuremberg Trials,” 
                em Grey Room
                span , 82:__.

              p(class="mb-4") “Inventories, Insurgent Wealth, and Settling Accounts in post-Agreement Colombia,” 
                em Political and Legal Anthropology Review 
                span &nbsp;(Online): Emergent Conversations.

              p(class="mb-4") “Ambigüedad, Ficción e Ironía en el Museo Forense” [“Ambiguity, Fiction and Irony at the Forensic Museum.”] In 
                em La Violencia y sus Sombras en Colombia y México
                span &nbsp;(M. Uribe and R. Parrini, eds.). Bogotá: Universidad del Rosario.

              p(class="mb-4 pb-5") “Del Contexto a las Finanzas Paramilitares: Trayectoria de una Técnica Forense en Justicia y Paz” [“Genealogy of Context Analysis as Forensic Technique in Colombia’s ‘Justicia y Paz’ Trials”]. In 
                em Justicia y Paz desde Otros Lenguajes: Una Mirada Retrospectiva 
                span &nbsp;(M. Acosta and J. Acosta, eds.). Bogotá: Universidad de la Sabana.
                              
              p(class="mb-4 text-sm text-bold text-uppercase") IN PREPARATION 
              p(class="mb-4") Redesigning Crime: Remaking Criminal Liability at Nuremberg
              
              p(class="mb-4") “Guilty Objects: FARC Finances and the Legal Fictions of Political Transition.”

              p(class="mb-4") “From Conspiracy-as-Contract to the Mueller Investigation.”

              p(class="mb-4") 
                span(class="text-sm") (with Juana Dávila) 
                br 
                span “El Contexto: Genealogía de una Tecnología Transicional”

              p(class="mb-4") 
                span(class="text-sm") (editor) 
                br
                span Laboratorios para la Transición: Perspectivas Críticas Liberalismo Transicional en América Latina.
              
              p(class="mb-0 text-center pt-5")
                a(href="#" class="link-main text-sm") View past writings
              
  div(class="bg-black p-5")
    p(class="text-sm text-center mb-2") All content and photography © Alejandra Azuero-Quijano
    p(class="text-xs text-center mb-0") 
      a(href="http://www.windandfog.com/?utm_source=alejandra", class="link-faded") Built by Wind & Fog
