---
title: Home
slug: home
---

extends layout

block content

  div(class="block-full d-flex justify-content-center align-items-center")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="mb-5")
            h1(class="mt-0 mb-2") Alejandra Azuero
            h4(class="mb-3") Abogada y antropóloga
            div(class="divider divider-green-light mb-3")
            p(class="mb-0") SJD Harvard Law School, PhD Candidate 
            p(class="mb-0") #Anthro University of Chicago

  div(class="block-full d-flex justify-content-center align-items-center bg-black")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="mb-5")
            h1(class="mt-0 mb-2 text-white") Alejandra Azuero
            h4(class="mb-3 text-white") Abogada y antropóloga
            div(class="divider divider-green-light mb-3")
            p(class="mb-0 text-white") SJD Harvard Law School, PhD Candidate 
            p(class="mb-0 text-white") #Anthro University of Chicago            

            
  div(class="block-full d-flex justify-content-center align-items-center bg-green")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="mb-5")
            h1(class="mt-0 mb-2 text-white") Alejandra Azuero
            h4(class="mb-3 text-white") Abogada y antropóloga
            div(class="divider divider-green-light mb-3")
            p(class="mb-0 text-white") SJD Harvard Law School, PhD Candidate 
            p(class="mb-0 text-white") #Anthro University of Chicago  

  div(class="block-full d-flex justify-content-center align-items-center")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="mb-5")
            h1(class="mt-0 mb-2") Alejandra Azuero
            h4(class="mb-3") Abogada y antropóloga
            div(class="divider divider-blue-light mb-3")
            p(class="mb-0") SJD Harvard Law School, PhD Candidate 
            p(class="mb-0") #Anthro University of Chicago  

  div(class="block-full d-flex justify-content-center align-items-center bg-black")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="mb-5")
            h1(class="mt-0 mb-2 text-white") Alejandra Azuero
            h4(class="mb-3 text-white") Abogada y antropóloga
            div(class="divider divider-blue-light mb-3")
            p(class="mb-0 text-white") SJD Harvard Law School, PhD Candidate 
            p(class="mb-0 text-white") #Anthro University of Chicago   

  div(class="block-full d-flex justify-content-center align-items-center bg-blue")
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          div(class="mb-5")
            h1(class="mt-0 mb-2 text-white") Alejandra Azuero
            h4(class="mb-3 text-white") Abogada y antropóloga
            div(class="divider divider-blue-light mb-3")
            p(class="mb-0 text-white") SJD Harvard Law School, PhD Candidate 
            p(class="mb-0 text-white") #Anthro University of Chicago                                              
