// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Colors (via http://clrs.cc - slightly modded)
$white    = #ffffff
$black    = #222222
$purple   = #1F003A
$purple-light = #2E0057
$green      = #47753C

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false
