// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Colors (via http://clrs.cc - slightly modded)
$white    = #ffffff
$black    = #222222
$green      = #47753C
$green-light = #529343

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false
