// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Colors (via http://clrs.cc - slightly modded)
$white    = #ffffff
$black    = #222222
$grey    = lighten($black, 4%)
$green      = #2B4924
$green-light = #4CC130

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false
