@import '_settings'

normalize-css()
base()

html,
body
  background: $black

html, html a
  -webkit-font-smoothing: antialiased

body,
p,
li
  font-family: 'Nunito Sans', sans-serif
  font-size: 19px
  font-weight: 400
  color: $white

.text-sm
  font-size: 18px

h1,
h2,
h3,
h4,
li
  font-weight: 300

ul
  padding-left: 0

a
  color: $green-light
  font-weight: 400

a:hover,
a:focus
  color: $green-light
  text-decoration: none

.text-bold
  font-weight: 600

.link-main
  display: inline-block
  margin: 0 10px
  font-size: 18px
  font-weight: 600
  text-transform: uppercase

.btn-main
  border: 1.5px solid $green-light
  color: $green-light
  font-weight: 600
  text-transform: uppercase

.top-right
  position: absolute
  top: 20px
  right: 20px

h1,
h2,
.title
  font-family: 'Karma', serif

h1.xl
  font-size: 122px

h1
  font-size: 41px
  line-height: 1.25 !important

h2
  font-size: 32px
  line-height: 1.25 !important

.container-outer
  padding: 30px 10px

.container-outer-compact
  padding: 50px 0

.block-full
  min-height: 100vh

.divider
  width: 125px
  height: 3px
  margin: 15px auto
  display: inline-block

.divider-black
  background: $black

.divider-white
  background: $white

.divider-green-light
  background: $green-light

.divider-green
  background: $green

.bg-green
  background: $green

.bg-white
  background: $white

.bg-white p,
.bg-white h1,
.bg-white h2
  color: $black

.bg-black
  background: $black

.bg-grey
  background: $grey

.text-white
  color: $white

.bg-image
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

.bg-profile
  background-image: url(/img/alejandra-azuero-quijano.jpg)
  min-height: 32vh

.bg-nuremberg-001
  background-image: url(/img/bg-nuremberg-001.jpg)

.bg-current-project
  background-image: url(/img/current-project.jpg)

.bg-nuremberg-project
  background-image: url(/img/nuremberg-project.jpg)

@media (min-width: 767px)

  h1
    font-size: 44px

  .container-outer
    padding: 120px 0
