@import '_settings'

normalize-css()
base()

html,
body
  background: $white

html, html a
  -webkit-font-smoothing: antialiased

body,
p,
li
  font-family: 'Nunito Sans', sans-serif
  font-size: 21px
  color: $black

h1,
h2,
h3,
h4,
p,
li
  font-weight: 300 !important

ul
  padding-left: 0

h1,
h2,
h3,
.title
  font-family: 'Karma', serif

h1.xl
  font-size: 122px

h1
  font-size: 56px
  line-height: 1 !important

h2
  font-size: 48px
  line-height: 1 !important

h3
  font-size: 36px

h4
  font-size: 28px

.block-full
  min-height: 100vh

.divider
  width: 100px
  height: 3px

.divider-black
  background: $black

.divider-white
  background: $white

.divider-green-light
  background: $green-light

.bg-green
  background: $green

.bg-black
  background: $black

.text-white
  color: $white
