---
title: Home
slug: home
---

extends ../layout

block content
  div(class="container-outer-compact")
    div(class="container")
      div(class="row justify-content-center")
        div(class="col-md-10 text-center")
          div(class="p-4")
            h1(class="mt-0 mb-4") Alejandra Azuero-Quijano is an anthropologist, legal scholar, and a writer.
            div
              a(href="#" data-target="#research-statement" class="js-scroll-to link-main") Research Statement
              a(href="#" class="link-main") Alejandra's CV

  div(id="bio" class="bg-image bg-nuremberg-001")
    div(class="container-outer")
      div(class="container")
        div(class="row")
          div(class="bg-image col-md-5 pr-0 pl-0 bg-profile")

          div(class="col-md-7 bg-white pl-0")
            div(class="p-5")
              h1(class="m-0") Bio
              div(class="divider divider-green-light mb-3 mt-3")
              p(class="mb-3") Alejandra Azuero-Quijano is a PhD student and freelance writer affiliated to Harvard Law School (SJD candidate) and the anthropology department at the University of Chicago (PhD program). Her current research and writing explores the relation between law and aesthetics as well as issues of legal materiality, architecture and the politics of space in the field of international law.
              p(class="mb-3") Azuero-Quijano's writing has appeared in Al Jazeera America and New American Writing.
              p(class="mb-3") Her most recent project, [Re]Designing Crime after WWII: The Making of the Nuremberg Courtroom, explores the role of the U.S. Office of Strategic Services in defining the aesthetics of criminal justice at the Nuremberg Trials.
              p(class="mb-0") Before moving to the U.S., Azuero-Quijano worked for UN-Women, IOM and UNHCR. Born in Bogota (Colombia), she obtained her LL.B. from Universidad de los Andes.
